*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background: #000;
}
.nav-bar{
	display: flex;
	padding: 2% 4%;
}
.nav-logo img{
	width: 135px;
}
.nav-links{
	flex: 1; 
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
}
.nav-links ul a{
	color: #ffea00;
	text-decoration: none;
	font-size: 18px;
}
.hero{
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	text-align: center;
	color: #fff;
}
h1{
	font-size: 60px;
	color: transparent;
	-webkit-text-stroke: 1px #ffea00;
	background: url(back.png);
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 20s linear infinite;
	margin-bottom: 4%;
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}
.btn{
	width: 150px;
	height: 50px;
	border: 1px solid #ffea00;
	color: ffea00;
	margin: auto;
	cursor: pointer;
	margin-bottom: 4%;
	position: absolute;
	top: 61%;
	left: 46%;
	overflow: hidden;
}
.btn p{
	font-size: 20px;
	padding-top: 12px;
	font-weight: bold;
	text-align: center;
	transition: 1s;
}
span{
	width: 80px;
	height: 80px;
	top: 80px;
	position: absolute;
	background: #ffea00;
	border-radius: 50%;
	z-index: -1;
	transition: 1s;
}
span:nth-child(1){
	left: -5%;
	transition-delay: .1s;
}
span:nth-child(2){
	left: 24%;
	transition-delay: .2s;
}
span:nth-child(3){
	left: 48%;
	transition-delay: .4s;
}
span:nth-child(4){
	left: 78%;
	transition-delay: .6s;
}
.btn:hover span{
	top: -9px;
}
.btn:hover p{
	color: #000;
	transition-delay: .5s;
}
@media (max-width: 700px){
	.hero{
		font-size: 26px;
		margin-bottom: 10%;
	}
}




